<!DOCTYPE html>
<html lang="is" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.app.state.TITLE }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.2/pico.classless.min.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1/dist/htmx.min.js" defer></script>
</head>

<body>
    <header>
        <h1>{{ request.app.state.TITLE }}</h1>
    </header>
    <main hx-get="/_listings" hx-trigger="load">
        <div aria-busy="true"></div>
    </main>
</body>

</html>