{% if listings %}
<p class="text-info">{{ today }}</p>
{% for listing in listings|sort(attribute='start_time') %}
<div class="row mb-3">
    <div class="col-2">
        <h4 class="text-info">
            <time>{{ listing.time }}</time>
        </h4>
    </div>
    <div class="col-10">
        <h4 class="text-primary">{{ listing.title }}</h4>
        {% if listing.details %}
        <p class="text-muted">{{ listing.details }}</p>
        {% endif %}
        {% if listing.live %}
        <p class="badge bg-danger">bein útsending</p>
        {% elif listing.repeat %}
        <p class="badge bg-success">endurtekinn</p>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endif %}
